<div class="content padded">
<!-- source/flats/show.html.erb -->

<!-- Read from data.flats with owner's name as key -->

<% flat = data.flats[owner] %>

  <div class="banner" style="background: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 50%), url('<%= image_path flat.flat_picture %>'); height: 50vh; background-position: center";>
  </div>

<div class="container">
  <%= image_tag flat.owner_picture, class: "img-circle" %>
  <p><%= flat.owner_name %></p>
  <h1><%= flat.description %></h1>
  <p><%= flat.city %></p>
</div>
